<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(err !== ""){ %>
        <h1><%= err %></h1>
    <% } %>
    <form action="/" method="post">
        <input type="text" name="name" id="" placeholder="Enter Name">
        <input type="text" name="username" id="" placeholder="Enter User Name">
        <input type="password" name="password" id="" placeholder="Enter Password">
        <input type="hidden" name="type" value="register">
        <input type="submit" name="submit" id="" value="Submit">
    </form>
</body>
</html>